body {
    background-color: white;
    color: #0b132b;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    
    
}

.link-container {
    display: flex;
    flex-direction: row;
}

ul {
    
}

li {
    list-style-type: none;
    display: inline;
    padding: 20px;
  
}

a {
    text-decoration: none;
    color: #0b132b;
    font-weight: 600;
}



.banner1 {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 60px;
    border: 10px;
    border-color: red;
    margin-top: 120px;
    line-height: 1.5; 
    
}

.banner1-left {
background-color: white;
font-size: 20px;
}

h1 {
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 1.2;
    
}

button {
    color:white;
    background-color: #3882F6;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 28px;
    margin-top: 0px;
}

.banner2 {
    background-color: #0b132b;
    color: white;
    margin-top: 200px;
    margin-bottom: 0px;
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
  }
  
  .feature-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    align-items: center;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
  }

  .banner3 {
    background-color: #E5E7EB;
    padding: 200px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
  }

  .quote-name {
    font-size: 18px;
    text-align: justify right;
    font-weight: bold;
    
  }
  
  .banner4 {
    background-color:white;
  }

  .banner4-block {
    background-color:#3882F6;
    margin: 100px 250px;
    padding: 50px 300px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: ;
    
  }

  .banner4-text h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .banner4-text p {
    margin: 5px 0 0 0;
    font-size: 1rem;
  }

  .banner4-button {
    color:white;
    background-color: #3882F6;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border: white solid;
    text-decoration: none;
    border-radius: 8px;
    padding: 6px 14px;
    margin-top: 0px;
  }